
#-----------------------------
# System and temporary files
#
#> backup and temporary files
*.kate-swp
*.bak
*.swp
*~
#> system and user-specific files
._*
.DS_Store
.profile
Thumbs.db
#> log files
*.log

#-----------------------------
# IDEs and EDITORS
#
Xcodeproj/
.xcuserdata/
.vscode/
*.sublime-project
*.sublime-workspace

#-----------------------------
# REPOSITORIES
#
/Repos/

#-----------------------------
# Python virtual environment
#
/VEnv/

#-----------------------------
# STORAGE
#
/Storage/
/Config
/Models
/Output

#-----------------------------
# User-specific files
#
README-PERSONAL.MD
